<div class="large-12 large-centered">
  <div class="text-center">
    <h2>Sign up</h2>
    <h4>What type of account would you like to create?*</h3>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field large-12 text-center">
      <%= f.radio_button :rescue_group, true %>
      <%= f.label :rescue_group, "Rescue", value: true %>
      <%= f.radio_button :rescue_group, false %>
      <%= f.label :rescue_group, "Foster", value: false %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :name, "Name*" %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :email, "Email*" %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone, autofocus: true %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :city, "City*" %>
      <%= f.text_field :city, autofocus: true %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :state, "State*" %>
      <%= f.text_field :state, autofocus: true %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :password, "Password (8 characters minimum)*" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :password_confirmation, "Please re-enter your password*" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field large-4 medium-4 medium-offset-4 large-offset-4">
      <%= f.label :description, "Bio/Description" %>
      <%= f.text_area :description, autofocus: true, :rows=>8 %>
    </div>

    <p class="text-center">* denotes a required field</p>

    <div class="actions text-center">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  <% end %>
  <div class="text-center">
      <%= render "devise/shared/links" %>
  </div>
</div>
