<div class="text-center">
  <h4><%= @user.name%></h4>
  <p><%= @user.city%>, <%= @user.state%></p>

  <% if @user.rescue_group? %>
    <h1>Your current animals in need of a foster:</h1>
      <% @animals.each do |animal| %>
        <p><%= animal.name %>: <%= animal.description %> </p>
      <% end %>
    <h1>Your current animals in foster homes:</h1>
    <%= link_to "Add an animal", new_animal_path %>
  <% else %>
    <h4>Your current fosters:</h4>
      <%= @fosters.each do |animal| %>
        <h1>
          <%= animal.name %>
        </h1>
      <% end %>
  <% end %>


  <p><%= link_to "Update your information here.", edit_user_registration_path(@user) %></p>
</div>
