<div class="text-center">
  <div class="user-profile">
    <div class="user-profile-photo column">
      <%= image_tag(current_user.profile_photo) %>
    </div>
    <div class="user-profile-text large-8 column text-left">
      <h4><%= @user.name%></h4>
      <h5><%= @user.city%>, <%= @user.state%></h5>
      <h5><%= @user.email%></h5>
      <p><%= @user.description%></p>
      <p><%= link_to "Update your information here.", edit_user_registration_path(@user) %></p>
      <% if @user.rescue_group? %>
        <p><%= link_to "Add an animal", new_animal_path %></p>
      <% end %>
    </div>
  </div>
  <% if @user.rescue_group? %>
    <% if !@unfostered_animals.empty? %>
      <h3>Your current animals in need of a foster:</h3>
        <%= render 'animals/unfostered' %>
      <h3>Your current animals in foster homes:</h3>
        <%= render 'animals/fostered' %>
    <% end %>
  <% else %>
    <% if !@fosters.empty? %>
      <h4>Your current fosters:</h4>
      <%= render "animals/animal_div" %>
    <% end %>
  <% end %>
</div>
