<div class="animal-container">
  <% @fostered_animals.each do |animal| %>
    <div class="animal text-left large-4">
      <h4><strong><%= link_to animal.name, animal_path(animal) %></strong></h4>
        <div class="animal-photo-space">
          <%= image_tag(animal.animal_photo) %>
        </div>
        <p><strong>Fostered by: </strong><%= link_to animal.fostered_by.email,
          user_path(animal.fostered_by_id) %></p>
        <p><strong>Gender: </strong>
          <% if animal.sex == "F" %>
            <%= "Female" %>
          <% elsif animal.sex == "M" %>
            <%= "Male" %>
          <% else %>
            <%= animal.sex %>
          <% end %>
        </p>
      <p><strong>Age:</strong> <%= animal.age %></p>
      <p>
        <strong>Rescue:</strong> <%= link_to animal.animal_rescue.name,
          user_path(animal.animal_rescue.id) %>
      </p>
      <p><strong>Description:</strong> <%= truncate(animal.description, length: 60)%></p>
      <%= link_to "Update", edit_animal_path(animal) %> ·
      <%= link_to "Delete", animal_path(animal), method: :delete,
          data: { confirm: 'Are you sure?' }%> ·
      <%= link_to "See More", animal_path(animal) %>
          <br>
      <% if animal.dog_friendly? %>
        <img src="http://i.imgur.com/3FFfFvJ.png", class="icons"/>
      <% end %>
      <% if animal.cat_friendly? %>
        <img src="http://i.imgur.com/A6KAGlG.jpg", class="icons"/>
      <% end %>
    </div>
  <% end %>
</div>
