<h1 class="text-center">Find Foster Homes</h1>

<%= form_for @search do |form| %>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :name, "Foster's name" %>
  <%= form.text_field :name  %>
</div>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :email, "Foster's email" %>
  <%= form.text_field :email  %>
</div>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :dog_friendly, "Can they have dogs in the home?" %>
  <%= form.select :dog_friendly, [["Yes", true],["No", false]], prompt: "Select yes or no" %>
</div>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :cat_friendly, "Can they have cats in the home?" %>
  <%= form.select :cat_friendly, [["Yes", true],["No", false]], prompt: "Select yes or no" %>
</div>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :kid_friendly, "Can they have kids in the home?" %>
  <%= form.select :kid_friendly, [["Yes", true],["No", false]], prompt: "Select yes or no" %>
</div>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="field small-8 small-offset-2 large-6 large-offset-3">
  <%= form.label :state %>
  <%= form.text_field :state %>
</div>

<%= form.hidden_field :rescue_group, value: false %>

<div class="actions text-center">
  <%= form.submit "Search", class: "button"%>
</div>
<% end %>

<p class="text-center"><%= link_to "Back", user_path(@user) %></p>
