<!DOCTYPE html>
<html>
<head>
  <title>FosterNetwork</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'welcome' if controller_name == 'homes' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/animals">Foster Network</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
    <% if current_user %>
      <ul class="left">
        <li><%= link_to current_user.email, user_path(current_user) %></li>
      </ul>
    <% end %>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash text-center flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <% if controller_name != 'homes' %>
  <% end %>
    <div class="row">
      <div class="columns">
        <%= yield %>
      </div>
    </div>
  </div>

  <% unless @no_footer %>
    <footer>
      <img src="http://i.imgur.com/gOZIZR7.jpg"/>
    </footer>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
